In [2]:
import pandas as pd
from collections import defaultdict

In [31]:
def generate_mapping_dict(filename='./placement_mapping.csv', keys=['site_id_dcm', 'placement_id'], values=['Site_name', 'Tactic', 'Device', 'Targeting']):
    df = pd.read_csv(filename)
    #site_id_mapping, placement_id_mapping = defaultdict(dict), defaultdict(dict)
    site_and_placement_id_mapping = defaultdict(lambda: defaultdict(dict))
    for key in keys:
        for value in values:
            mapping = df.set_index(key).to_dict()[value]
            for k in mapping:
                site_and_placement_id_mapping[key][k][value] = mapping[k]
            """
            if key == 'site_id_dcm':
                for k in mapping:
                    site_id_mapping[k][value] = mapping[k]
            elif key == 'placement_id':
                for k in mapping:
                    placement_id_mapping[k][value] = mapping[k]
            """
    return site_and_placement_id_mapping

In [32]:
site_and_placement_id_mapping = generate_mapping_dict()

In [40]:
site_and_placement_id_mapping['site_id_dcm'][992265]

{'Site_name': 'GDN',
 'Tactic': 'RMKT',
 'Device': 'HYB',
 'Targeting': 'GDN-RMKT'}

In [46]:
df = pd.read_csv('./markov_2019-11-10_Stadia_Q2Q3.csv')

In [47]:
map_to = 'Site_name'
df[map_to] = df['channel'].apply(lambda x:site_and_placement_id_mapping['site_id_dcm'][x][map_to])

In [48]:
df

   channel  attrib_model_convs Site_name
0  1043393          909.543140   YouTube
1  1432834          398.530068    Reddit
2  1570239         3143.088892   YouTube
3  2597502           75.292368   Twitter
4   902754        17247.210946   SEM-MSN
5   992265        19996.334586       GDN