In [1]:
import pandas as pd
df = pd.read_csv('./MarkovChainAttr_22783112_placementid_path_BQ.csv')
df.head()

                                                path  converters  uniques
0  248214061 > 248212309 > 248212309 > 248212309 ...           1        1
1  248409549 > 248213500 > 248049380 > 248049380 ...           1        1
2  248048813 > 248213494 > 248048816 > 248218150 ...           1        1
3  248209417 > 248048819 > 248050322 > 248209417 ...           1        1
4  248216173 > 248923654 > 249473193 > 249107156 ...           1        1

In [2]:
df.tail()

                                                   path  converters  uniques
7220                              248048816 > 243942340           6       80
7221  248348714 > 248409552 > 248348714 > 248213500 ...           1        1
7222  249093089 > 249093089 > 249093089 > 249107117 ...           1        1
7223                  248717978 > 248216365 > 243942340           1        3
7224  248214061 > 248214061 > 248214061 > 248214061 ...           1        1

In [3]:
df.shape

(7225, 3)

In [4]:
df2 = pd.read_csv('./placement_mapping.csv')
placement_to_site_name = df2.set_index('placement_id').to_dict()['Targeting']

In [5]:
from collections import defaultdict

In [6]:
res = defaultdict(dict)
line = 0
df_0_converters_removed = df[df.converters > 0]
for index, row in df_0_converters_removed.iterrows():
    #if line > 15:
        #break
    line += 1
    path, converters, uniques = row['path'], row['converters'], row['uniques']
    placements = path.split('>')
    if len(placements) <= 1:
        continue
    placements = [_.strip() for _ in placements]
    final_placement = placements[-1]
    assisted_placements = set(placements[0:-1])
    for placement in assisted_placements:
        if final_placement in res and placement in res[final_placement]:
            res[final_placement][placement] += converters
        else:
            res[final_placement][placement] = converters

In [7]:
res = defaultdict(dict)
line = 0
df_0_converters_removed = df[df.converters > 0]
for index, row in df_0_converters_removed.iterrows():
    #if line > 15:
        #break
    line += 1
    path, converters, uniques = row['path'], row['converters'], row['uniques']
    placements = path.split('>')
    if len(placements) <= 1:
        continue
    placements = [_.strip() for _ in placements]
    final_placement = placements[-1]
    try:
        final_placement_site_name = placement_to_site_name[int(final_placement)]
    except KeyError:
        continue
    assisted_placements_site_name = []
    for placement in placements[0:-1]:
        try:
            site_name = placement_to_site_name[int(placement)]
        except KeyError:
            continue
        assisted_placements_site_name.append(site_name)
    if assisted_placements_site_name == []:
        continue
    assisted_placements_site_name = set(assisted_placements_site_name)
    for assist_site_name in assisted_placements_site_name:
        if final_placement_site_name in res and assist_site_name in res[final_placement_site_name]:
            res[final_placement_site_name][assist_site_name] += converters
        else:
            res[final_placement_site_name][assist_site_name] = converters

In [8]:
res

defaultdict(dict,
            {'GDN-RMKT': {'GDN-Affinity': 1256,
              'GDN-IMS': 1251,
              'GDN-RMKT': 2471,
              'SEM': 850,
              'Reddit': 102},
             'GDN-Affinity': {'GDN-Affinity': 1162,
              'GDN-IMS': 753,
              'SEM': 121,
              'GDN-RMKT': 85,
              'Reddit': 22},
             'GDN-IMS': {'GDN-Affinity': 616,
              'GDN-IMS': 1114,
              'SEM': 118,
              'GDN-RMKT': 61,
              'Reddit': 9},
             'SEM': {'GDN-Affinity': 2073,
              'GDN-IMS': 2046,
              'SEM': 2689,
              'Reddit': 166,
              'GDN-RMKT': 1369},
             'Reddit': {'GDN-IMS': 40,
              'Reddit': 160,
              'GDN-RMKT': 31,
              'GDN-Affinity': 56,
              'SEM': 20}})